@model FFCNMaintenance.Models.tlkpPhoneType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tlkpPhoneType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSMA_TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSMA_TimeStamp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
