@{
    ViewBag.Title = "Index";
}

<h2>Data Master Table Maintenance</h2>

<p>
    @Html.ActionLink("Back to Admin Home", "Index", "Admin")
</p>

<br />

<h3>Select from the following master data table to review the entries.</h3>

<p>
    @Html.ActionLink("Address Types", "Index", "tlkpAddressTypes")
</p>

<p>
    @Html.ActionLink("Agencies", "Index", "tlkpAgencies")
</p>

<p>
    @Html.ActionLink("App On Holds", "Index", "tlkpAppOnHolds")
</p>

<p>
    @Html.ActionLink("App Rejected FFCNs", "Index", "tlkpAppRejectedFFCNs")
</p>

<p>
    @Html.ActionLink("App Rejected Programs", "Index", "tlkpAppRejectedProgs")
</p>

<p>
    @Html.ActionLink("App Returneds", "Index", "tlkpAppReturneds")
</p>

<p>
    @Html.ActionLink("Communication Types", "Index", "tlkpCommunicationTypes")
</p>

<p>
    @Html.ActionLink("Email Types", "Index", "tlkpEmailTypes")
</p>

<p>
    @Html.ActionLink("Homes Closed", "Index", "tlkpHomeCloseds")
</p>

<p>
    @Html.ActionLink("Inactives", "Index", "tlkpInactives")
</p>

<p>
    @Html.ActionLink("Ongoing Training", "Index", "tlkpOngoingTrainings")
</p>

<p>
    @Html.ActionLink("Phone Types", "Index", "tlkpPhoneTypes")
</p>

<p>
    @Html.ActionLink("Programs", "Index", "tlkpPrograms")
</p>

<p>
    @Html.ActionLink("Recruitment Categories", "Index", "tlkpRecruitmentCategories")
</p>

<p>
    @Html.ActionLink("Relationships", "Index", "tlkpRelationships")
</p>

<p>
    @Html.ActionLink("Train Attend Intros", "Index", "tlkpTrainAttendIntroes")
</p>

<p>
    @Html.ActionLink("Train Intro RSVPs", "Index", "tlkpTrainIntroRSVPs")
</p>

<p>
    @Html.ActionLink("Train Preservice 1", "Index", "tlkpTrainPreservice1")
</p>

<p>
    @Html.ActionLink("Train Preservice 2", "Index", "tlkpTrainPreservice2")
</p>

<p>
    @Html.ActionLink("Train Preservice 2009", "Index", "tlkpTrainPreservice2009")
</p>

<p>
    @Html.ActionLink("Train Preservice Comps", "Index", "tlkpTrainPreserviceComps")
</p>

<p>
    @Html.ActionLink("Train Preservice RSVPs", "Index", "tlkpTrainPreserviceRSVPs")
</p>

<p>
    @Html.ActionLink("User Groups", "Index", "tlkpUserGroups")
</p>


